@font-face {
  font-family: 'curvytron';
  src: url('../font/curvytron.eot?27034212');
  src: url('../font/curvytron.eot?27034212#iefix') format('embedded-opentype'),
       url('../font/curvytron.woff?27034212') format('woff'),
       url('../font/curvytron.ttf?27034212') format('truetype'),
       url('../font/curvytron.svg?27034212#curvytron') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'curvytron';
    src: url('../font/curvytron.svg?27034212#curvytron') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "curvytron";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-crown:before { content: '\e800'; } /* '' */
.icon-volume-off:before { content: '\e801'; } /* '' */
.icon-volume-up:before { content: '\e802'; } /* '' */
.icon-kick:before { content: '\e803'; } /* '' */
.icon-cog:before { content: '\e804'; } /* '' */
.icon-spectate:before { content: '\e805'; } /* '' */
.icon-love:before { content: '\e806'; } /* '' */
.icon-twitter:before { content: '\e807'; } /* '' */
.icon-github:before { content: '\e808'; } /* '' */
.icon-params:before { content: '\e809'; } /* '' */
.icon-edit:before { content: '\e80a'; } /* '' */
.icon-game:before { content: '\e80b'; } /* '' */
.icon-check:before { content: '\e80c'; } /* '' */
.icon-close:before { content: '\e80d'; } /* '' */
.icon-plus:before { content: '\e80e'; } /* '' */
.icon-angle-right:before { content: '\e80f'; } /* '' */
.icon-trophy:before { content: '\e810'; } /* '' */
.icon-minus:before { content: '\e811'; } /* '' */
.icon-megaphone:before { content: '\e812'; } /* '' */
.icon-music:before { content: '\e813'; } /* '' */
.icon-clock:before { content: '\e814'; } /* '' */
.icon-viewer:before { content: '\e815'; } /* '' */
.icon-dead:before { content: '\e816'; } /* '' */
.icon-lock:before { content: '\e817'; } /* '' */
