// Headings
// -------------------------
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;

  small,
  .small {
    font-weight: normal;
    line-height: 1;
    color: $headings-small-color;
  }

  a {
    color: $headings-color;
  }
}

h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: $headings-margin;
  margin-bottom: ($headings-margin / 2);
  text-transform: uppercase;

  small,
  .small {
    font-size: 65%;
  }
}
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: ($headings-margin / 2);
  margin-bottom: ($headings-margin / 2);
  font-weight: $bold-font-weight;

  small,
  .small {
    font-size: 75%;
  }
}

h1, .h1 { font-size: $font-size-h1; }
h2, .h2 { font-size: $font-size-h2; }
h3, .h3 { font-size: $font-size-h3; }
h4, .h4 { font-size: $font-size-h4; }
h5, .h5 { font-size: $font-size-h5; }
h6, .h6 { font-size: $font-size-h6; }


// Body text
// -------------------------
p {
  margin: 0 0 $base-margin / 2;
}

.notice {
  font-variant: italic;
  color: lighten($text-color, 20%);
}

// Lists
// -------------------------
ul,
ol {
  margin-top: 0;
  margin-bottom: $base-margin / 2;
  padding-left: $base-margin;

  ul,
  ol {
    margin-bottom: 0;
  }
}

ul {
  &.no-bullet {
    list-style: none;
    padding-left: 0;
  }

  &.inline {
    list-style: none;
    padding-left: 0;

    li {
      display: inline-block;
    }
  }
}

// Description Lists
// -------------------------
dl {
  margin-top: 0;
  margin-bottom: $base-margin / 2;
}
dt,
dd {
  line-height: $base-line-height;
}
dt {
  font-weight: $bold-font-weight;
}
dd {
  margin-left: 0;
  margin-bottom: $base-margin;
}


// Links
// -------------------------
a {
  &, &:visited {
    color: $link-color;
    text-decoration: none;
  }
  &:hover {
    text-decoration: underline;
  }

  &.animated {
    text-decoration: none;
    display: inline-block;
    &:after {
      content: '';
      display: block;
      height: 1px;
      width: 0;
      margin-left: 50%;
      background-color: $link-color;
      @include transition(all 0.2s ease);
    }
    &:hover, &.active {
      &:after {
        width: 100%;
        margin-left: 0;
      }
    }
  }
}
