<section>
    <div id="rooms" class="container">
        <h1>
            <form ng-submit="submit()" class="top-right-form" ng-hide="hasUsername">
                <div class="input-group input-group-lg">
                    <input type="text" ng-model="username" class="form-control" name="username" placeholder="Username" />
                    <span class="input-group-btn">
                        <button type="submit" id="submit" class="btn btn-lg btn-default"><i class="icon-angle-right"></i></button>
                    </span>
                </div>
            </form>
            <div class="top-right-form" ng-show="hasUsername">
                <div class="input-group input-group-lg">
                    <input type="text" ng-model="color" ng-change="setColor()" class="form-control" name="color" placeholder="#CCCCCC" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-lg btn-default" ng-class="{ active: ready }" ng-model="ready" ng-click="setReady()">Ready?</button>
                    </span>
                </div>
            </div>
            {{ room.name }}
        </h1>
        <table class="table table-hover table-striped v-align-middle">
            <thead>
                <tr>
                    <th class="pct-10">&nbsp;</th>
                    <th class="pct-50">Name</th>
                    <th class="pct-40">Color</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="player in room.players">
                    <td class="text-center">
                        <span class="player-ready" ng-class="{ ready: player.ready }">
                            <i ng-if="player.ready == true" class="icon-check success"></i>
                            <i ng-if="player.ready == false" class="icon-close success"></i>
                        </span>
                    </td>
                    <td>{{ player.name }}</td>
                    <td><span class="color-preview" style="background-color: {{ player.color }};"></span> {{ player.color }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
