<section ng-controller="RoomsController">
    <div id="rooms" class="container">
        <h1>
            <form ng-submit="submit()" class="top-right-form">
                <div class="input-group input-group-lg">
                    <input type="text" ng-model="name" class="form-control" name="name" placeholder="Create room" />
                    <span class="input-group-btn">
                        <button type="submit" id="submit" class="btn btn-lg btn-default"><i class="icon-plus"></i></button>
                    </span>
                </div>
            </form>
            {{ rooms.length }} actives rooms
        </h1>
        <table id="rooms" class="table table-striped table-hover v-align-middle">
            <tbody>
                <tr ng-repeat="room in rooms">
                    <td><h3><a href="#/room/{{ room.name }}">{{ room.name }}</a></h3></td>
                    <td>
                        <h4>
                            <ng-pluralize count="room.players.length "
                                             when="{'0': 'No player',
                                                 'one': '1 player',
                                                 'other': '{} players'}">
                        </h4>
                        <ul class="no-bullet inline">
                            <li class="player-row" ng-repeat="player in room.players">
                                <span class="color-preview" style="background-color: {{ player.color }};"></span> <span class="mr20">{{ player.name }}</span>
                            </li>
                        </ul>
                    </td>
                    <td class="text-right ">
                        <a href="#/room/{{ room.name }}" class="room-enter"><i class="icon-angle-right"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
