// Architecture based on http://www.sitepoint.com/architecture-sass-project/

@charset "UTF-8";

@import "base/reset";
@import "base/font";
@import "base/variables";

@import "helpers/mixins";
@import "helpers/shortcuts";

@import "layout/grid";
@import "layout/forms";
@import "layout/layout";

@import "components/buttons";
@import "components/button-groups";
@import "components/simpleSelector";
@import "components/simpleInputFile";
@import "components/tables";
@import "components/alerts";
@import "components/tabs";
@import "components/tooltips";
@import "components/input-groups";
@import "components/fancybox";
@import "components/colorpicker";

@import "base/typography";

@import "pages/homepage";
@import "pages/room";
@import "pages/game";
@import "pages/profile";
@import "pages/about";
@import "pages/chat";

@import "helpers/responsive";
