{
    "port": 8020,
    "curvytron2": null,
    "umami": {
        "src": null,
        "websiteId": null
    },
    "inspector": {
        "enabled": false,
        "host": "localhost",
        "port": 8086,
        "username": "curvytron",
        "password": "curvytron",
        "database": "curvytron"
    }
}
