<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <title>Curvytron</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="format-detection" content="telephone=no">
        <meta name="keywords" content="Curvytron, Game, Curve, Multiplayer">
        <link rel="author" href="humans.txt" />
        <link rel="icon" type="image/png" href="images/favicon.png" />
        <link href='//fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/style.css">
        <meta property="og:title" content="Curvytron - A multiplayer tron-like game... with curves!"/>
        <meta property="og:type" content="game"/>
        <meta property="og:url" content="http://www.curvytron.com"/>
        <meta property="og:site_name" content="Curvytron"/>
        <meta property="og:description" name="description" content="The ultimate addictive multiplayer game, come and play with friends or fellow workers !" />
        <meta property="og:locale" content="en" />
        <meta name="twitter:site" content="@Curvytron" />
        <link rel="alternate" href="http://www.curvytron.com" hreflang="en" />
        <!-- Google Analytics -->
    </head>
    <body ng-app="curvytronApp" ng-controller="CurvytronController">
        <!--[if lt IE 8]>
            <div id="browsehappy">
                <div id="browsehappy-inner">
                    Vous utilisez un navigateur internet trop vieux.<br/>Merci de le <a href="http://browsehappy.com/">mettre à jour</a> afin d'améliorer votre navigation.
                </div>
            </div>
        <![endif]-->
        <header>
            <a href="/#/" class="logo animated">
                <img src="images/logo.svg" alt="Curvytron" id="logo" />
                <span class="brand">curvytron</span>
            </a>
        </header>

        <div ng-controller="ProfileController" ng-if="profile">
            <ng-include src="'js/views/profile/link.html'"></ng-include>
            <div id="profile" class="panel" ng-include="'js/views/profile/profile.html'" onload="onLoaded()"></div>
        </div>

        <div id="connecting" ng-if="status === 'connecting'" class="container text-center">
            <h3>Connecting...</h3>
        </div>

        <div id="main" ng-if="status === 'online'" ng-view></div>

        <div id="error" ng-if="status === 'disconnected'" class="container text-center">
            <section class="centered">
                <h3>Something went wrong :(</h3>
                <p>You are not connected to the server.</p>
                <button ng-click="reload()" class="btn btn-default">
                    Try again now!
                </button>
            </section>
        </div>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding-bottom">
                        <a href="https://github.com/Elao/curvytron" target="_blank" class="ml10 animated"><i class="icon-github"></i></a>
                        <a href="http://twitter.com/curvytron" target="_blank" class="ml10 animated"><i class="icon-twitter"></i></a>
                        <a href="http://www.reddit.com/r/curvytron" target="_blank" class="ml10 animated"><i class="icon-reddit"></i></a>
                        <a href="/#/about" class="ml15 animated">About Us</a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding-bottom text-right">
                        <a href="http://www.elao.com" class="game-copy animated" target="_blank">
                            Handmade at Elao with <i class="icon-love"></i>
                        </a>
                    </div>
                </div>
            </div>
        </footer>

        <script src="js/dependencies.js"></script>
        <script src="js/curvytron.js"></script>
    </body>
</html>
