<div id="feed">
    <div ng-repeat="message in messages" class="one-message">
        <strong style="color: {{ message.getPlayerColor() }};">
            <span ng-if="message.getPlayerIcon()" class="message-icon {{ message.getPlayerIcon() }}"></span>
            <span ng-if="!message.getPlayerIcon()">{{ message.getPlayerName() }}:</span>
        </strong>
        <span class="message-content" ng-switch="message.type">
            <!-- Vote Kick -->
            <span ng-switch-when="vote-kick">
                <span ng-if="!message.target.kicked">
                    Do you want to kick <span style="color: {{ message.target.color }}">{{ message.target.name }}</span>?
                    <span class="action" ng-click="kickPlayer(message.target)">Yes!</span>
                </span>
                <span ng-if="message.target.kicked">
                    Ongoing vote to kick <span style="color: {{ message.target.color }}">{{ message.target.name }}</span>.
                    <span class="action" ng-click="kickPlayer(message.target)">Cancel?</span>
                </span>
            </span>

            <!-- Kick -->
            <span ng-switch-when="kick">
                Farewell <span style="color: {{ message.target.color }}">{{ message.target.name }}</span>, you have been kicked.
            </span>

            <!-- Default -->
            <span ng-switch-default>
                {{ message.content }}
            </span>
        </span>
    </div>
</div>

<form ng-submit="submitTalk()" name="talk" class="action-line">
    <button type="submit" class="btn btn-default">
        <span><i class="icon-angle-right"></i></span>
    </button>
    <input type="text" name="currentMessage" ng-model="currentMessage.content" class="sent-message form-control" placeholder="Enter message..." maxlength="{{ messageMaxLength }}" />
    <div class="clearfix"></div>
</form>
