<div id="chat-feed" class="feed" ng-init="onLoaded()">
    <div ng-repeat="message in messages track by message.id" class="one-message">
        <div class="details">
            <span class="time">{{ ::message.date }}</span>
        </div>
        <span ng-if="message.icon" class="message-icon {{ ::message.icon }}"></span>
        <span ng-if="!message.icon" class="message-icon message-name" style="color: {{ message.player.color }};">
            <span class="mute icon-mute" title="Mute" ng-click="mute(message)"></span>
            {{ message.player.name }}:
        </span>
        <span class="message-content" ng-switch="message.type">
            <!-- Vote Kick -->
            <span ng-switch-when="vote-kick">
                <span ng-if="!message.target.local && !message.target.kicked">
                    Do you want to kick <span style="color: {{ message.target.color }}">{{ message.target.name }}</span>?
                    <span class="action" ng-click="kickPlayer(message.target)">Yes!</span>
                </span>
                <span ng-if="!message.target.local && message.target.kicked">
                    Ongoing vote to kick <span style="color: {{ message.target.color }}">{{ message.target.name }}</span>.
                    <span class="action" ng-click="kickPlayer(message.target)">Cancel?</span>
                </span>
                <span ng-if="message.target.local">
                    Ongoing vote to kick <span style="color: {{ message.target.color }}">{{ message.target.name }}</span>.
                </span>
            </span>

            <!-- Kick -->
            <span ng-switch-when="kick">
                Farewell <span style="color: {{ ::message.target.color }}">{{ ::message.target.name }}</span>, you have been kicked.
            </span>

            <!-- Room master -->
            <span ng-switch-when="room-master">
                <span style="color: {{ message.getTarget().color }}">{{ message.getTarget().name }}</span> is now the room master.
            </span>

            <!-- Mute -->
            <span ng-switch-when="mute">
                You muted <span style="color: {{ message.player.color }}">{{ message.player.name }}</span>.
                <span class="action" ng-click="mute(message)">Cancel?</span>
            </span>

            <!-- Default -->
            <span ng-switch-default>
                {{ ::message.content }}
            </span>
        </span>
    </div>
</div>

<form ng-submit="submitTalk()" name="talk" class="action-line" autocomplete="off">
    <button type="submit" class="btn btn-default">
        <span><i class="icon-angle-right"></i></span>
    </button>
    <input type="text" name="currentMessage" ng-model="currentMessage.content" class="sent-message form-control" placeholder="Enter message..." maxlength="{{ ::currentMessage.maxLength }}" />
    <div class="clearfix"></div>
</form>
