@import "mixins/base";
@import "mixins/forms";
@import "mixins/buttons";
@import "mixins/alerts";
@import "mixins/grid";


/**
 * CUSTOMS
 */

@mixin countdownAnim {
  0% {
    width: 280px;
    height: 280px;
    margin-top: -140px;
    margin-left: -140px;
    border-width: 8px;
    border-color: lighten($game-background, 30%);
  }
  50% {
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
    border-width: 4px;
    border-color: lighten($game-background, 10%);
  }
  100% {
    width: 280px;
    height: 280px;
    margin-top: -140px;
    margin-left: -140px;
    border-width: 8px;
    border-color: lighten($game-background, 30%);
  }
}
@-webkit-keyframes countdownAnim {
    @include countdownAnim;
}
@-moz-keyframes countdownAnim {
    @include countdownAnim;
}
@-o-keyframes countdownAnim {
    @include countdownAnim;
}
@keyframes countdownAnim {
    @include countdownAnim;
}


@mixin gameBorder {
  0%   { border-color: $header-background; }
  20%  { border-color: #16a085; }
  40%  { border-color: #2C3E50; }
  60%  { border-color: #95A5A6; }
  80%  { border-color: #913D88; }
  100% { border-color: $header-background; }
}
@-webkit-keyframes gameBorder {
    @include gameBorder;
}
@-moz-keyframes gameBorder {
    @include gameBorder;
}
@-o-keyframes gameBorder {
    @include gameBorder;
}
@keyframes gameBorder {
    @include gameBorder;
}


@mixin headerGradient {
  0%   { @include opacity(0); }
  20%  { @include opacity(0); }
  40%  { @include opacity(100); }
  60%  { @include opacity(100); }
  80%  { @include opacity(0); }
  100% { @include opacity(0); }
}
@-webkit-keyframes headerGradient {
    @include headerGradient;
}
@-moz-keyframes headerGradient {
    @include headerGradient;
}
@-o-keyframes headerGradient {
    @include headerGradient;
}
@keyframes headerGradient {
    @include headerGradient;
}


@mixin deadAnim {
  0%   { background-color: transparent; }
  50%  { background-color: transparentize($color-danger, 0.5); }
  100% { background-color: transparent; color: transparentize(#EEE, 0.7); }
}
@-webkit-keyframes deadAnim {
    @include deadAnim;
}
@-moz-keyframes deadAnim {
    @include deadAnim;
}
@-o-keyframes deadAnim {
    @include deadAnim;
}
@keyframes deadAnim {
    @include deadAnim;
}

@mixin newLog {
    from {
        opacity: 0;
        transform: translateX(400px);
    }
    to {
        opacity: 1;
        transform : translateX(0);
    }
}
@-webkit-keyframes newLog {
    @include newLog;
}
@-moz-keyframes newLog {
    @include newLog;
}
@-o-keyframes newLog {
    @include newLog;
}
@keyframes newLog {
    @include newLog;
}

@mixin bonus-sprite($col, $line) {
  $posX: $bonus-size*$col*-1;
  $posY: $bonus-size*$line*-1;

  background-position: $posX $posY;
}

@mixin readyAnim {
  0%   { @include opacity(0); left: 0; }
  5%   { @include opacity(100); }
  15%  { @include opacity(0); left: 100%; }
  100% { @include opacity(0); left: 100%; }
}
@-webkit-keyframes readyAnim {
    @include readyAnim;
}
@-moz-keyframes readyAnim {
    @include readyAnim;
}
@-o-keyframes readyAnim {
    @include readyAnim;
}
@keyframes readyAnim {
    @include readyAnim;
}
