@media (max-width: $screen-sm - 1)
{
    header {
        padding: 10px 20px;
        margin: 0;

        .logo {

            &, &:visited {
                font-size: 20px;
            }

            img {
                width: 50px;
                float: left;
            }

            .brand {
                float: left;
                line-height: 50px;
                margin-left: 10px;
            }
        }

        .profile-link {
            top: 24px;
            right: 10px;
            font-size: 0;
            line-height: 0;
            padding: 3px;

            .circle {
                margin: 0;
            }
        }
    }

    .top-right-form {
        float: none;
        max-width: 100%;
        margin-bottom: 20px;
    }

    .intro {
        .quote {
            text-align: center;
            font-size: $font-size-h3;
            margin: 20px 0 20px;
        }
        .tuto {
            padding: 0 10px;

            .circle {
                height: auto;
            }

            .content {
                padding: 0;
            }
        }
    }

    .room-list {
        margin-top: 0;

        .header {
            font-size: $font-size-h4;

            .title {
                float: none;
                display: block;
                margin-bottom: 10px;
                text-align: center;
            }
        }
    }

    .rooms {
        margin-top: 0;

        .room-details {
            margin-top: 10px;
            padding-top: 0;
        }

        .room-players {
            width: 100%;
            padding: 0;
            float: none;
        }

        .room-chat {
            width: 100%;
            padding: 0;
            float: none;
            .chat-wrapper {
                margin-top: 0;
            }
        }

        .col-ready { width: 80px; }

        .col-player { width: auto; }

        .col-color {
            width: 40px;

            p {
                font-size: 0;
            }

            .form-control {
                border-left-width: 40px;
                width: 0;
                padding: 0;
            }
        }
        .col-keys { width: 126px; }

        .room-players tr .btn {
            margin: 0 2px;
        }

        .room-players tr.local td.player-color-col input.form-control {
            width: 120px;
        }
    }
    body {
        font-size: 14px;
        line-height: 20px;
    }

    h1 {
        font-size: 24px;
    }

    #game-wrapper {
        #game-infos {
            display: none;
        }

        #col-right {
            left: 0;
        }
    }

}

@media (max-width: $screen-md - 1) {

}

@media (max-width: $screen-lg-desktop - 1) {

}
