<p>Hi there!</p>
<p>
    So your name's
    <input
        id="profile-name"
        type="text"
        ng-change="profile.persist()"
        ng-model="profile.name"
        class="form-control inline"
        name="name"
        placeholder="What?!"
        maxlength="{{ nameMaxLength }}"
    /> ?
    Your color would be
    <input
        id="profile-color"
        type="button"
        ng-change="profile.persist()"
        colorpicker="hex"
        colorpicker-position="right"
        ng-model="profile.color"
        class="form-control inline profile-color"
        name="color"
        value="{{ profile.color }}"
        style="background-color: {{ profile.color }}; color: {{ profile.color }};"
    />.
</p>
<p>
    You'll be turning left with
    <input
        id="profile-controls-0"
        type="text"
        value="{{ profile.controls[0].mapper.view }}"
        class="form-control inline profile-control"
        ng-name="control[left]"
        ng-focus="profile.controls[0].start()"
        ng-blur="profile.controls[0].stop()"
        ng-keypress="blur()"
        ng-class="{ 'active': profile.controls[0].mapper.listening }"
    />
    and turning right with
    <input
        id="profile-controls-1"
        type="text"
        value="{{ profile.controls[1].mapper.view }}"
        class="form-control inline profile-control"
        ng-name="control[left]"
        ng-focus="profile.controls[1].start()"
        ng-blur="profile.controls[1].stop()"
        ng-keypress="blur()"
        ng-class="{ 'active': profile.controls[1].mapper.listening }"
    />.
</p>