<div class="profile-tuto" ng-class="{ active: profileTuto }">
    <div class="content">
        <p>
            Hi there!<br/>
            We just need to know a few things before you start playing:
        </p>
        <ul class="list">
            <li class="item first" ng-class="{ 'done': profile.name }">
                First, choose yourself player name.
                <small>A name to find them, a name to rule them all...</small>
            </li>
            <li class="item" ng-class="{ 'done': profile.color }">
                Now pick a color that your like
                <small>Or one that you don't, why should I care...</small>
            </li>
            <li class="item final">
                Finally, you can assign new controls if you're not happy with left and right arrows.
                <small>Yep. Console controllers are supported.</small>
                <button type="button" class="btn btn-hero" ng-click="closeProfile()">
                    I'm done!
                </button>
            </li>
        </ul>
    </div>
</div>
