#about {
    text-align: center;

    &.container {
        max-width: 900px;
    }

    > section {
        padding: 40px 0;

        h1 {
            display: inline-block;
            line-height: 70px;
            padding-bottom: 40px;

            &:after {
                content: '';
                display: block;
                height: 2px;
                width: 40%;
                margin: 0 auto;
                background-color: $text-color;
                bottom: 0;
            }
        }

        h3 {
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 22px;
            font-weight: bold;
        }
    }
}
