.feed {
    overflow-x: hidden;
    overflow-y: auto;
    background: #1c1c1c;
    color: #ffffff;
    padding: 15px 0;

    &::-webkit-scrollbar {
        width: $aside-border-size*2;
        height: 1px;
        border-left: 0;
        background: transparentize(#FFF, 0.8);
    }

    &::-webkit-scrollbar-track {
        background: none;
    }

    &::-webkit-scrollbar-thumb {
        @include gradient($header-background-from, $header-background-to);
        border-radius: 0;
        cursor: pointer;
    }

    .welcome {
        text-transform: uppercase;
        font-size: 16px;
    }

    .one-message {
        margin: 0 15px;
        padding: 3px 0;
        line-height: 22px;
        font-size: 16px;
        word-wrap: break-word;

        .message-name {
            .mute {
                display: none;
                float: left;
            }

            &:hover .mute {
                display: block;
            }
        }

        .message-icon {
            color: $color-gray;
        }

        .details {
            color: $color-gray;
            margin-right: 5px;
            float: left;
            font-size: 13px;
            line-height: 22px;
        }
    }

    .action {
        color: $color-gray;
        cursor: pointer;

        &:hover {
            color: #ffffff;
        }
    }
}
