#game-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: $game-background;
    aside, #col-right {
        position: fixed;
        top: 0;
        bottom: 0;
    }
    aside {
        width: 300px;
        min-width: 300px;
        max-width: 300px;
        overflow: scroll;
        background: lighten($game-background, 5%);
        color: #EEE;
        font-weight: 300;
        left: 0;
        border-right: 4px solid #000;
        @include animation(gameBorder 20s infinite);
        padding-top: $game-header-height;
        padding-bottom: 48px;
        header {
            background: red;
            height: $game-header-height;
            overflow: hidden;
            padding: 10px 20px;
            margin: 0;
            font-size: 30px;
            text-align: left;
            display: block !important;
            position: fixed;
            width: 300px;
            top: 0;
            left: 0;
            z-index: 100;
            a {
                line-height: 60px;
            }
            a:hover {
                text-decoration: none;
            }
        }
        h3 {
            margin: 0;
            color: #FFF;
            padding: 10px 20px;
            // background: lighten($game-background, 10%);
        }
        .maxScore {
            padding: 10px 10px 10px 20px;
            text-align: left;
            background: lighten($game-background, 10%);
            margin-bottom: 0;
            font-size: 14px;
        }
        #game-players {
            @extend .no-bullet;
            li {
                border-bottom: 2px solid lighten($game-background, 10%);
                padding: 10px 60px 10px 20px;
                position: relative;
                .score {
                    display: block;
                    text-align: center;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    width: 50px;
                    line-height: 44px;
                    font-size: 24px;
                    border-left: 2px solid lighten($game-background, 10%);
                }
                .round-points {
                    font-size: 18px;
                    margin-left: 10px;
                }
                &:first-child {
                    border-top: 2px solid lighten($game-background, 10%);
                }
                &.dead {
                    @include animation(deadAnim 1s forwards);
                    @include transition(all 0.2s ease);

                    .color-preview {
                        @include transition(all 0.2s ease);
                        @include opacity(50);
                    }
                }
                .line-color-preview {
                    width: 6px;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                }
            }
        }
        #radio {
            position: fixed;
            left: 0;
            bottom: 0;
        }
        #fps {
            width: 24px;
            text-align: right;
        }
        #ping {
            width: 32px;
            text-align: right;
        }
        footer {
            display: block !important;
            position: fixed;
            left: 0;
            bottom: 0px;
            width: 296px;
            min-width: 296;
            max-width: 296;
            background: lighten($game-background, 5%);
            padding: 10px 20px;
            margin: 0;
            .game-copy {
                color: #FFF;
                display: block;
                text-align: left;
                font-size: 14px;
                text-transform: none;
                cursor: pointer;
                @include opacity(70);
                @include transition(all 0.2s ease);
                &:hover {
                    @include opacity(100);
                    text-decoration: none;
                }
            }
        }
    }
    #col-right {
        bottom: 0;
        right: 0;
        left: 300px;
        text-align: center;
        .countdown {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -100px;
            margin-left: -100px;
            width: 200px;
            height: 200px;
            z-index: 100;
            padding: 20px;
            font-size: 100px;
            line-height: 140px;
            font-weight: 300;
            text-align: center;
            color: #FFF;
            background: transparent;
            @extend .rounded;
        }
        .countdown-anim {
            width: 250px;
            height: 250px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -125px;
            margin-left: -125px;
            background: transparentize(lighten($game-background, 10%), 0.8);
            border: 4px solid lighten($game-background, 10%);
            @include animation(countdownAnim 1s infinite);
            z-index: 90;
            @extend .rounded;
        }
        #game {
            z-index: 50;
            border: 4px solid lighten($game-background, 10%);
        }
       #end {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 150;
            height: 100%;
            background: transparentize(darken($game-background, 5%), 0.2);
            overflow-y: scroll;
            display: none;
            #round-view, #game-view {
                position: relative;
                color: #FFF;
                display: none;
                i {
                    display: block;
                    font-size: 100px;
                }
                p {
                    font-size: 40px;
                    font-weight: 300;
                    line-height: 110px;
                    display: inline-block;
                    &:after {
                        content: '';
                        display: block;
                        height: 2px;
                        width: 40%;
                        margin: 0 auto;
                        background-color: #FFF;
                        bottom: -30px;
                    }
                }
            }
            #round-view {
                top: 50%;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
            }
            #game-view {
                padding: 60px 0 40px 0;
                table.recap {
                    max-width: 700px;
                    margin: 50px auto 0 auto;
                    text-align: left;
                    td {
                        border-top: 2px solid transparentize(#FFF, 0.95);
                        background: transparentize(#FFF, 0.95);
                        @include transition(background 0.2s ease);
                        padding: 30px 25px;
                        font-size: 30px;
                        font-weight: 300;
                        &.rank {
                            width: 80px;
                            text-align: center;
                        }
                        &.name {
                            font-weight: bold;
                        }
                        &.points {
                            width: 210px;
                        }
                    }
                    tr {
                        &:first-child {
                            td {
                                border: 0;
                            }
                        }
                        &:hover {
                            td {
                                background: transparentize(#FFF, 0.9);
                            }
                        }
                    }
                }
            }
        }
    }
}
