#game-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000;

    aside, #col-right {
        position: fixed;
        top: 0;
        bottom: 0;
    }

    aside {
        width: $aside-width;
        min-width: $aside-width;
        max-width: $aside-width;
        overflow: auto;
        background: $aside-background;
        color: #EEE;
        font-weight: 300;
        left: 0;
        border-right: $aside-border-size solid lighten($aside-background, 8%);

        header {
            height: $game-header-height;
            line-height: $game-header-height;
            overflow: hidden;
            padding: 0 20px;
            margin: 0;
            display: block !important;
            position: fixed;
            width: $aside-width;
            font-size: 34px;
            top: 0;
            left: 0;
            z-index: 100;
            text-align: left;
            border: 0;

            a {
                display: block;
                line-height: $game-header-height - 4px;
                height: $game-header-height;
                text-decoration: none;
                @include transition(opacity 0.15s linear);

                img {
                    height: 80px;
                    width: 80px;
                    vertical-align: -25%;
                    display: inline-block;
                    margin-right: 10px;
                }
            }
        }

        .btn-toggle {
            background: $aside-background;
            position: fixed;
            z-index: 100;
            width: 50px;

            &.sound {
                left: $aside-width - $aside-border-size - 50px;
                top: $game-header-height + 80px;
            }

            &.radio-sound {
                left: $aside-width - $aside-border-size - 100px;
                top: $game-header-height + 80px;
            }

            &::after {
                top: 40px;
                left: 7px;
            }
        }

        .maxScore {
            padding: 0 10px 0 20px;
            text-align: left;
            background: lighten($aside-background, 8%);
            margin-bottom: 0;
            font-size: 72px;
            color: $aside-background;
            position: fixed;
            overflow: hidden;
            left: 0;
            top: $game-header-height;
            width: $aside-width - $aside-border-size;
            height: 80px;
            line-height: 80px;
            vertical-align: bottom;
            z-index: 100;

            i {
                vertical-align: bottom;
                position: absolute;
                bottom: -2px;
                left: 20px;
            }

            span {
                position: absolute;
                right: 20px;
                bottom: 0;
                font-size: 116px;
                font-weight: bold;
            }
        }

        h3 {
            margin: 0;
            color: #FFF;
            padding: 0 15px;
            font-size: 24px;
            font-weight: 400;
            height: 80px;
            line-height: 80px;
            position: fixed;
            left: 0;
            top: $game-header-height + 80px;
            width: $aside-width - $aside-border-size - 80px;
            background: $aside-background;
            z-index: 100;
            overflow: hidden;
            -o-text-overflow: ellipsis; /* pour Opera 9 */
            text-overflow: ellipsis;
        }

        .game-players {
            margin-bottom: 0;
            position: fixed;
            overflow: auto;
            top: $game-header-height + 160px;
            bottom: 298px;
            left: 0;
            width: $aside-width;

            &::-webkit-scrollbar {
                width: $aside-border-size;
                height: 1px;
                border-left: 0;
                background: transparentize(#FFF, 0.8);
            }

            &::-webkit-scrollbar-track {
                background: none;
            }

            &::-webkit-scrollbar-thumb {
                @include gradient($header-background-from, $header-background-to);
                border-radius: 0;
                cursor: pointer;
            }

            &.in-round {
                .player:not(.dead) {
                    .round-points {
                        display: none;
                    }
                }
            }

            .player {
                border-bottom: 2px solid lighten($game-background, 10%);
                padding: 10px 5px 10px 23px;
                position: relative;
                font-size: 18px;

                .score {
                    display: block;
                    text-align: center;
                    position: absolute;
                    top: 0;
                    right: 2px;
                    bottom: 0;
                    width: 70px;
                    line-height: 50px;
                    font-size: 25px;
                    font-weight: bold;
                }

                .round-points {
                    display: block;
                    font-size: 18px;
                    margin-left: 10px;
                    font-weight: 300;
                    display: block;
                    text-align: center;
                    position: absolute;
                    top: 0;
                    right: 65px;
                    bottom: 0;
                    width: 50px;
                    line-height: 50px;
                }

                &:first-child {
                    border-top: 2px solid lighten($game-background, 10%);
                }

                .player-name {
                    width: 100%;
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    padding-right: 115px;
                }

                &.local {

                    background: lighten($aside-background, 5%);

                    .arrow {
                        left: 6px;
                        top: 50%;
                        border: solid transparent;
                        content: " ";
                        height: 0;
                        width: 0;
                        position: absolute;
                        pointer-events: none;
                        border-color: rgba(136, 183, 213, 0);
                        border-left-color: transparent;
                        border-width: 6px;
                        margin-top: -6px;
                    }
                }

                &.dead {
                    background: none;
                    color: transparentize(#EEE, 0.7);
                }

                .line-color-preview {
                    width: 6px;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                }
            }
        }

        #radio {
            position: fixed;
            left: 0;
            bottom: 0;
        }

        .spectators {
            width: 75px;
            text-align: right;
        }

        .fps {
            width: 45px;
            text-align: right;
            margin-left: 5px;
            font-size: 14px;
        }

        .ping {
            width: 52px;
            text-align: right;
            margin-left: 5px;
            font-size: 14px;
        }

        footer {
            display: block !important;
            position: fixed;
            left: 0;
            bottom: 245px;
            width: $aside-width - $aside-border-size;
            min-width: $aside-width - $aside-border-size;
            max-width: $aside-width - $aside-border-size;
            background: $aside-background;
            padding: 10px 20px;
            margin: 0;

            .game-copy {
                color: #FFF;
                display: block;
                text-align: left;
                font-size: 14px;
                text-transform: none;
                cursor: pointer;
                @include opacity(50);
                @include transition(all 0.2s ease);

                &:hover {
                    @include opacity(100);
                    text-decoration: none;
                }
            }
        }
    }

    #col-right {
        bottom: 0;
        right: 0;
        left: $aside-width;
        text-align: center;

        .tie-break {
            font-size: $font-size-h1;
            position: absolute;
            top: 25%;
            color: #FFF;
            width: 100%;
            z-index: 110;
        }

        .countdown {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -100px;
            margin-left: -100px;
            width: 200px;
            height: 200px;
            z-index: 100;
            padding: 20px;
            font-size: 100px;
            line-height: 140px;
            font-weight: normal;
            text-align: center;
            color: #FFF;
            background: transparent;
            @include border-radius(20px);
            @include transform(rotate(45deg));

            .count {
                @include transform(rotate(-45deg));
                margin-top: 10px;
                margin-left: -10px;
            }
        }

        .waiting {
            position:   absolute;
            top: 25%;
            width: 100%;
            z-index: 110;

            p {
                font-size: $font-size-h1;
                color: #FFF;
            }

            ul {
                list-style: none;
                font-size: $font-size-h4;
            }
        }

        .spectating {
            position: absolute;
            top: 20px;
            width: 100%;
            z-index: 120;

            h2 {
                font-size: 26px;
                padding: 0 0 15px 0;
                margin-bottom: 10px;
                color: #FFF;
                position: relative;
                @include opacity(30);

                &::after {
                    content: '';
                    width: 40px;
                    height: 2px;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    margin-left: -20px;
                    background: #FFF;
                    @include opacity(80);
                }
            }

            p {
                color: #FFF;
                font-size: 15px;
                @include opacity(15);
            }
        }

        .countdown-anim {
            width: 250px;
            height: 250px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -125px;
            margin-left: -125px;
            background: transparentize(lighten($game-background, 10%), 0.8);
            @include animation(spin 4s infinite);
            z-index: 90;
            @include border-radius(15px);
            @include transform(rotate(45deg));

            border-top: 10px solid $header-background-from;
            border-bottom: 10px solid $header-background-to;
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from($header-background-from), to($header-background-to));
            background-image: -webkit-linear-gradient($header-background-from, $header-background-to);
            background-image: -moz-linear-gradient($header-background-from, $header-background-to),
            -moz-linear-gradient($header-background-from, $header-background-to);
            background-image: -o-linear-gradient($header-background-from, $header-background-to),
            -o-linear-gradient($header-background-from, $header-background-to);
            background-image: linear-gradient($header-background-from, $header-background-to),
            linear-gradient($header-background-from, $header-background-to);
            -moz-background-size: 10px 100%;
            background-size: 10px 100%;
            background-position: 0 0, 100% 0;
            background-repeat: no-repeat;
        }

        .game-render {
            display: block;
            position: relative;
            border: 4px solid lighten($game-background, 30%);
            margin: auto;

            &.borderless {
                border-style: dashed;
            }

            .game-background {
                z-index: 30;
                position: absolute;
                display: block;
            }

            .game-bonus {
                z-index: 40;
                position: absolute;
                display: block;
            }

            .game-front {
                z-index: 50;
                position: absolute;
                display: block;
            }

            .game-effect {
                z-index: 60;
                position: absolute;
                display: block;
            }
        }

        #end {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 150;
            height: 100%;
            background: transparentize(darken($game-background, 5%), 0.2);
            overflow-y: auto;

            .victory {
                font-size: 40px;
                font-weight: 300;
                line-height: 110px;
                width: 100%;
                padding: 0 50px;
                text-align: center;
                margin: 0 auto;

                &:after {
                    content: '';
                    display: block;
                    height: 2px;
                    width: 140px;
                    margin: 0 auto;
                    background-color: #FFF;
                    margin-top: 15px;
                }

                .icon-trophy {
                    display: inline-block;
                    font-size: 100px;
                }
            }

            .recap-view {
                position: relative;
                color: #FFF;

                &.round {
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                }

                &.game {
                    padding: 60px 0 40px 0;

                    .victory .icon-trophy {
                        margin-right: 20px;
                        vertical-align: middle;
                    }

                    table.recap {
                        max-width: 700px;
                        margin: 0 auto;
                        text-align: left;

                        td {
                            border-top: 2px solid transparentize(#FFF, 0.95);
                            background: transparentize(#FFF, 0.95);
                            @include transition(background 0.2s ease);
                            padding: 20px 10px;
                            font-size: 30px;
                            font-weight: 300;

                            &.rank {
                                width: 80px;
                                text-align: center;
                                font-weight: bold;
                            }

                            &.name {
                                font-weight: bold;
                            }

                            &.points {
                                width: 210px;
                            }
                        }

                        tr {
                            &:first-child {
                                td {
                                    border: 0;
                                }
                            }

                            &:hover {
                                td {
                                    background: transparentize(#FFF, 0.9);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .chat-wrapper {
        position: fixed;
        bottom: 0;
        left: 0;
        width: $aside-width;
        height: 245px;
        background: lighten($aside-background, 5);
        font-size: 14px;

        .feed {
            position: relative;
            height: 195px;
            overflow-y: auto;
        }

        .action-line {
            height: 50px;
            position: relative;
            overflow: hidden;
            border-right: $aside-border-size solid $header-background-to;

            .form-control {
                height: 50px;
                font-size: 16px;
                background: #FFF;
                border: 0;
                padding-right: 85px;

                &:focus {
                    border-color: $text-color;
                }
            }

            button {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                height: 50px;
                width: 60px;
                text-align: center;
                border: 0;
                color: #FFF;
                margin: 0 -10px 0 20px;
                padding: 0 20px 0 15px;
                @include horizontal-gradient($header-background-from, $header-background-to);
                @include skew(-10deg, 0);
                @include transition(all 0.1s linear);
                -webkit-backface-visibility: hidden;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;

                span {
                    display: block;
                    @include skew(10deg, 0);
                    -webkit-backface-visibility: hidden;
                }

                &:hover {
                    padding-right: 20px;
                }
            }
        }
    }

    /* Kill log */
    .kill-log-wrapper {
        position: fixed;
        top: 0;
        right: 0;
        max-width: 400px;
        height: auto;
        font-size: 14px;
        z-index: 100;
        font-weight: 400;

        .feed {
            position: relative;
            background: none;
            text-align: right;
            max-height: 160px;
            overflow: hidden;
            margin: 5px 10px;
            padding: 0;

            .one-message {
                list-style: none;
                min-height: 0px;
                padding: 0;
                margin: 0;

                span {
                    line-height: 30px;
                }

                .icon-dead {
                    font-size: 18px;
                }
            }
        }
    }
}

.btn-back-to-room {
    padding: 10px 20px;
    margin: 40px 0;
    display: inline-block;
    font-size: $font-size-h4;
}

/* Radio */

.radio-player {
    width: 0;
    height: 0;
    visibility: hidden;
}


/* Toggle public/private room */

.toggle, .toggler {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}

.toggler {
    color: #AAA;
    transition: .2s;
    text-transform: uppercase;
    font-size: 18px;
    cursor: pointer;

    &.active {
        color: #666;
    }
}

.b {
    display: block;
}

.toggle {
    width: 80px;
    height: 40px;
    @include border-radius(40px);
    background: #BBB;
    overflow: hidden;
    position: relative;

    &.active {
        @include horizontal-gradient($header-background-from, $header-background-to);
    }
}

.check {
    position: absolute;
    display: block;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 6;

    &:checked ~ .switch {
        left: 2px;
        right: 50%;
        @include transition(all 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86));
    }
}

.switch {
    position: absolute;
    right: 2px;
    top: 2px;
    bottom: 2px;
    left: 50%;
    background-color: #fff;
    border-radius: 36px;
    z-index: 1;
    @include transition(all 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86));
}

