.btn-default {
    &:hover,
    &.active {
        background: $text-color;
        color: $background-color;
    }
}
li.player-row {
    vertical-align: middle;
    img {
        width: 40px;
        border-radius: 50%;
        vertical-align: middle;
        display: inline-block;
        margin: 3px 3px 3px 0;
    }
}

.color-preview {
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-right: 5px;
    background: red;
    @extend .rounded;
    vertical-align: -6%;
    // @include transition(all 0.2s linear);
}

.top-right-form {
    float: right;
    max-width: 320px;
    .form-control {
        border: 2px solid $text-color !important;
        font-weight: $base-font-weight;
        line-height: 44px;
    }
    .btn-default {
        line-height: 44px;
        &:hover {
            background: $text-color;
            color: $background-color;
        }
    }
    .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
        margin-left: -2px;
    }
}



#rooms, #room {
    margin-top: 30px;
    h3 {
        margin: 0;
    }
    .room-enter-col {
        width: 200px;
    }
    .room-enter {
        padding-right: 5px;
        font-size: 24px;
        line-height: 40px;
        @include transition(all 0.2s ease);
    }
    tr {
        &:hover {
            .room-enter {
                padding-right: 0px;
                @include opacity(50);
            }
        }
    }
}
#rooms {
    .room {
        cursor: pointer;
    }
    .in-game {
        @include opacity(70);
        cursor: wait;
    }
}
