.btn-default {
    &:hover,
    &.active {
        background: $text-color;
        color: $background-color;
    }
}
li.player-row {
    vertical-align: middle;

    img {
        width: 40px;
        border-radius: 50%;
        vertical-align: middle;
        display: inline-block;
        margin: 3px 3px 3px 0;
    }
}

.header {
    min-height: 60px;

    .title {
        float: left;
        line-height: 60px;
    }
}

.intro {

    .quote {
        text-align: center;
        font-size: $font-size-h2;
        font-weight: 100;
        margin: 0 0 40px;
    }

    .tuto {
        text-align: center;
        width: 33%;
        display: block;
        float: left;

        .circle {
            border-radius: 200px;
            width: 150px;
            height: 150px;
            max-width: 100%;
            background-color: $game-background;
        }

        .content {
            font-style: italic;
            padding: 0 40px;
        }
    }
}

.top-right-form {
    float: right;
    max-width: 350px;
    height: 60px;
    position: relative;
    overflow: hidden;

    .form-control {
        border: 0;
        font-weight: $base-font-weight;
        line-height: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 85px;
        height: 60px;
        background: #FFF;
        font-size: 24px;
    }

    button {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        height: 60px;
        width: 80px;
        text-align: center;
        border: 0;
        border-left: 10px solid $background-color;
        color: #FFF;
        margin: 0 -10px 0 20px;
        padding: 0 28px 0 15px;
        @include horizontal-gradient($header-background-from, $header-background-to);
        @include skew(-10deg, 0);
        @include transition(all 0.1s linear);
        -webkit-backface-visibility: hidden;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        span {
            display: block;
            @include skew(10deg, 0);
            -webkit-backface-visibility: hidden;
            font-size: 26px;

            i {
                float: right;
                display: inline;
                font-size: 20px;
                @include transition(all 0.2s ease);
            }
        }

        &:hover {
            span {
                i {
                    @include transform(rotate(90deg));
                }
            }
        }

    }
}

.rooms, .room {
    margin-top: 50px;
    border-collapse: separate;

    tbody >tr {
        &.room {
            td {
                cursor: pointer;
            }
        }

        &.in-game {
            td {
                cursor: wait;

                &, a {
                    color: transparentize($text-color, 0.5) !important;
                }

                &.room-enter-col {
                    .room-enter {
                        background: darken($background-color, 7%);
                        @include horizontal-gradient(darken($background-color, 7%), darken($background-color, 7%));
                        color: transparentize($text-color, 0.5);
                    }
                }
            }
        }

        &:hover {
            > td.room-enter-col {
                .room-password-col {
                    left: -150px;
                    @include opacity(100);
                }
            }
        }

        >td {
            height: 100px;
            background: #FFF;
            border-top: 10px solid $background-color;
            overflow: hidden;

            a {
                &:hover {
                    text-decoration: none;
                }
            }

            &.room-name {
                font-size: 30px;
                font-weight: 400;
                text-transform: uppercase;
                padding-left: 20px;
            }

            &.room-nb-players {
                font-size: 26px;
                width: 300px;
                padding-right: 150px;
            }

            &.room-enter-col {
                width: 250px;
                padding: 0;
                overflow: visible;
                position: relative;

                .room-enter-container {
                    display: block;
                    width: 100%;
                    overflow: hidden;
                }

                .room-enter {
                    display: block;
                    margin: 0 -10px 0 20px;
                    padding: 0 30px 0 25px;
                    line-height: 100px;
                    z-index: 50;
                    position: relative;
                    border-left: 10px solid $background-color;
                    @include horizontal-gradient($header-background-from, $header-background-to);
                    @include transition(all 0.3s ease);
                    @include skew(-10deg, 0);
                    color: #FFF;
                    -webkit-backface-visibility: hidden;

                    span {
                        display: block;
                        @include skew(10deg, 0);
                        font-size: 26px;
                        text-transform: uppercase;
                        -webkit-backface-visibility: hidden;

                        i {
                            float: right;
                            display: inline;
                            font-size: 60px;

                            &.icon-lock {
                                font-size: 50px;
                                margin-right: 5px;
                            }
                        }
                    }
                }

                .room-password-col {
                    position: absolute;
                    width: 150px;
                    height: 100px;
                    z-index: 40;
                    margin: 0 -10px 0 20px;
                    padding: 0 30px 0 25px;
                    line-height: 100px;
                    border-left: 10px solid $background-color;
                    background-color: #FFF;
                    @include transition(all 0.2s ease);
                    @include skew(-10deg, 0);
                    color: #FFF;
                    left: 0;
                    @include opacity(0);
                    -webkit-backface-visibility: hidden;

                    input {
                        @include skew(10deg, 0);
                        -webkit-backface-visibility: hidden;
                        text-align: center;
                        height: 100px;
                        line-height: 100px;
                        font-size: 26px;
                        border: 0;
                        font-weight: 300;
                    }
                }
            }
        }

    }
}

