.btn-default {
    &:hover,
    &.active {
        background: $text-color;
        color: $background-color;
    }
}
li.player-row {
    vertical-align: middle;
    img {
        width: 40px;
        border-radius: 50%;
        vertical-align: middle;
        display: inline-block;
        margin: 3px 3px 3px 0;
    }
}

.color-preview {
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-right: 5px;
    background: red;
    @extend .rounded;
    vertical-align: -6%;
}

.top-right-form {
    float: right;
    max-width: 400px;
    .form-control {
        border: 2px solid $text-color !important;
    }
    .btn-default {
        &:hover {
            background: $text-color;
            color: $background-color;
        }
    }
    .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
        margin-left: -2px;
    }
}



#rooms {
    margin-top: 30px;
    h3 {
        margin: 0;
    }
    .room-enter {
        padding-left: 0;
        padding-right: 5px;
        font-size: 24px;
        line-height: 40px;
        @include transition(all 0.2s ease);
        &:hover {
            padding-right: 0;
            padding-left: 5px;
            @include opacity(50);
        }
    }
    tr {
        cursor: pointer;
        &:hover {
            .room-enter {
                padding-right: 0;
                padding-left: 5px;
                @include opacity(50);
            }
        }
    }
}

.player-ready {
    width: 40px;
    height: 40px;
    display: inline-block;
    @extend .rounded;
    border: 2px solid $color-danger;
    color: $color-danger;
    text-align: center;
    i {
        font-size: 20px;
        line-height: 35px;
        vertical-align: middle;
    }
    &.ready {
        color: #FFF;
        border-color: $color-success;
        background: $color-success;
    }
}

#game-wrapper {
    position: fixed;
    top: $game-header-height;
    right: 0;
    bottom: $game-footer-height;
    left: 0;
    height: 100%;
    width: 100%;
    background: $game-background;
    aside, #col-right {
        position: fixed;
        top: $game-header-height;
        bottom: 0;
    }
    aside {
        width: 300px;
        min-width: 300px;
        max-width: 300px;
        background: lighten($game-background, 5%);
        color: #EEE;
        font-weight: 300;
        left: 0;
        h3 {
            margin: 0;
            color: #FFF;
            padding: 10px 20px;
            // background: lighten($game-background, 10%);
        }
        #game-players {
            @extend .no-bullet;
            li {
                border-top: 2px solid lighten($game-background, 10%);
                padding: 10px 20px;
                &:first-child {
                    // border-top: 0;
                }
            }
        }
    }
    #col-right {
        top: $game-header-height;
        bottom: 0;
        right: 0;
        left: 300px;
        #countdown {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -100px;
            margin-left: -100px;
            width: 200px;
            height: 200px;
            z-index: 100;
            padding: 20px;
            font-size: 100px;
            line-height: 140px;
            text-align: center;
            color: #FFF;
            background: lighten($game-background, 10%);
            @extend .rounded;
        }
        #game {
            z-index: 50;
            border: 2px solid lighten($game-background, 10%);
            width: 500px;
            height: 500px;
        }
    }
}
