.profile-link {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: $base-font-size;
    line-height: $base-font-size;
    font-family: $base-font-family;
    vertical-align: top;
    padding: 8px 16px;
    background-color: $game-background;
    border: none;
    border-radius: 40px;
    cursor: pointer;

    &,&:visited {
        color: #ffffff;
    }

    .circle {
        width: $base-font-size;
        height: $base-font-size;
        border-radius: $base-font-size;
        display: inline-block;
        margin-left: -8px;
        margin-right: 8px;
        background-color: #ffffff;
        vertical-align: top;
    }
}

#profile {
    visibility:hidden;

    &.active {
        visibility: visible;

        .profile-form {
            right: 0;
        }
    }

    .profile-form {
        position: fixed;
        top: 0;
        bottom: 0;
        right: -$profile-width;
        overflow-y: auto;
        width: $profile-width;
        border-left: $profile-border-size solid #444;
        background: $profile-background;
        z-index: 100;
        @include transition(right 0.25s ease);

        .title {
            font-size: 30px;
            height: 80px;
            line-height: 80px;
            margin: 0;
            color: #FFF;
            padding: 0 20px;
            background: #444;

            .close {
                float: right;
                color: #FFF;
                line-height: 30px;
                height: 30px;
                margin-top: 25px;
                @include transition(all 0.25s ease);

                &:hover {
                    text-decoration: none;
                    @include opacity(70);
                }
            }
        }

        .close {
            font-family: $base-font-family;
            background: none;
            border: none;
            padding: 0;
            margin: 0;
        }

        .inner {
            padding: 10px 20px;
        }

        fieldset {
            margin: 20px 0 40px 0;

            legend {
                border: 0;
                text-transform: uppercase;
                border-bottom: 2px solid #999;
                padding: 0 0 10px 0;
                color: #666;
            }

            .form-row {
                margin: 0 -10px;
                .col {
                    width: 50%;
                    float: left;
                    padding: 0 10px;
                }
            }
        }

        .btn-save {
            padding: 15px 35px;
            border: 2px solid #555;
            text-transform: uppercase;
            background: transparent;
            color: #555;
            font-weight: 400;
            @include transition(all 0.15s ease);

            &:hover {
                background: #555;
                color: #FFF;
            }
        }
    }

    .profile-tuto {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        z-index: 20;
        background: rgba(21, 21, 21, 0.97);
        width: 100%;
        height: 100%;
        padding-right: $profile-width;
        font-weight: 400;
        @include opacity(0);
        @include transition(opacity 0.25s ease);

        &.active {
            display: block;
            @include opacity(100);
        }

        .content {
            color: #ffffff;
            font-size: 24px;
            line-height: 34px;
            position: absolute;
            width: 100%;
            padding: 0 $profile-width+50px 0 100px;
            left: 0;
            top: 50%;
            @include transform(translateY(-50%));

            .list {
                .item {
                    display: block;
                    margin: 20px;
                    font-size: 20px;
                    line-height: 30px;

                    small {
                        display: block;
                        color: #999;
                        line-height: 0.8em;
                    }

                    &.done {
                        opacity: 0.3;
                        text-decoration: line-through;
                    }

                    .btn-hero {
                        margin: 0;
                        margin-top: 60px;
                        padding: 10px 40px;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

.btn-toggle {
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    position: relative;

    .icon-volume {
        @extend .icon-volume-off;
        @include opacity(66);
    }

    .icon-radio {
        @extend .icon-music;
        @include opacity(66);
    }

    &::after {
        content: " ";
        width: 40px;
        height: 2px;
        top: 20px;
        left: 2px;
        position: absolute;
        background: #CCC;
        @include opacity(100);
        @include transform(rotate(-45deg));
        @include transition(opacity 0.15s linear);
    }

    &.active {
        .icon-volume {
            @extend .icon-volume-up;
            @include opacity(100);
        }

        .icon-radio {
            @include opacity(100);
        }

        &::after {
            @include opacity(0);
        }
    }
}
