.room {

    .touch {
        text-align: center;
        margin: 20px;
    }

    .header {
        min-height: inherit;

        .count {
            font-size: 0.7em;
            color: $headings-small-color;
        }

        small {
            margin: 11px 0;
        }

        .icon-params {
            font-size: 30px;
            cursor: pointer;
            @include transition(opacity 0.15s linear);

            &:hover, &.active {
                @include opacity(50);
            }
        }
    }

    .room-details {
        padding-top: 25px;
    }

    .room-chat {
        float: left;
        width: 32%;
        padding-right: 30px;

        .chat-wrapper {
            margin-top: 50px;

            .feed {
                position: relative;
                height: 400px;
                max-height: 400px;
            }

            .action-line {
                margin-top: 10px;
                height: 60px;
                position: relative;
                overflow: hidden;

                .form-control {
                    height: 60px;
                    font-size: 16px;
                    background: #FFF;
                    border: 0;
                    padding-right: 85px;

                    &:focus {
                        border-color: $text-color;
                    }
                }

                .btn {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    height: 60px;
                    width: 80px;
                    text-align: center;
                    border: 0;
                    border-left: 10px solid $background-color;
                    color: #FFF;
                    margin: 0 -10px 0 20px;
                    padding: 0 25px 0 15px;
                    @include horizontal-gradient($header-background-from, $header-background-to);
                    @include skew(-10deg, 0);
                    @include transition(all 0.1s linear);
                    -webkit-backface-visibility: hidden;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;

                    span {
                        display: block;
                        @include skew(10deg, 0);
                        -webkit-backface-visibility: hidden;
                    }

                    &:hover {
                        padding-right: 20px;
                    }
                }
            }
        }
    }

    .start-now {
        float: right;
        margin-left: 25px;
        height: 60px;
        width: 180px;
        font-size: 20px;
        text-align: center;
        line-height: 56px;
        border: 2px solid $header-background-from;
        @include horizontal-gradient($header-background-from, $header-background-to);
        color: #FFF;
        font-weight: 300;
        padding: 0;
        text-transform: uppercase;
        @include transition(all 0.15s linear);
        position: relative;

        &:hover {
            border-color: $header-background-to;

            span.label {
                @include opacity(75);
            }

            &::after {
                @include opacity(100);
            }
        }

        span {
            position: relative;
            z-index: 100;

            &.label {
                @include transition(all 0.15s linear);
            }
        }

        &::after {
            content: '';
            @include opacity(0);
            z-index: 80;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            @include horizontal-gradient($header-background-to, $header-background-from);
            @include transition(all 0.15s linear);
        }
    }

    .room-players {
        width: 68%;
        float: right;
        border-collapse: separate;

        th {
            text-transform: uppercase;
            color: transparentize($text-color, 0.5);
            font-weight: 400;
            height: 40px !important;
            border-bottom: 0;

            &.col-ready {
                text-align: center;
                padding-left: 45px;
            }
        }

        >tbody >tr {
            >td {
                overflow: hidden;
                height: 60px;
                min-height: 60px;
                max-height: 60px;
                background-color: #ffffff;

                &.col-player {
                    font-weight: bold;
                }

                &.col-ready {
                    padding: 0;
                }

                &.empty {
                  background-color: none;
                  text-align: center;
                }
            }

            &.local {
                .player-ready {
                    cursor: pointer;

                    &:hover {
                        background: darken($background-color, 12%);
                    }
                }
            }
        }

    }

    .col-color {
        position: relative;
        // padding-left: 20px;

        .line-color-preview {
            width: 12px;
            position: absolute;
            left: 12px;
            top: 10px;
            bottom: 10px;
        }

        .form-control {
            height: 40px;
            border-left-width: 12px;
        }

        p {
            margin: 0;
            padding-left: 22px;
            font-weight: 400;
        }
    }

    .player-ready {
        display: block;
        position: relative;
        margin: 0 -10px 0 20px;
        padding: 0 25px 0 20px;
        line-height: 60px;
        height: 60px;
        border-left: 10px solid $background-color;
        background: darken($background-color, 7%);
        color: #FFF;
        text-align: center;
        @include transition(all 0.2s ease);
        @include skew(-10deg, 0);
        -webkit-backface-visibility: hidden;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &:after {
            position: absolute;
            z-index: 50;
            top: 0;
            bottom: 0;
            left: 0;
            width: 0;
            background: $color-success;
            @include horizontal-gradient(#60a760, #61ca61);
            content: '';
            @include transition(all 0.2s ease);
            -webkit-backface-visibility: hidden;
        }

        &.local {
            &::before {
                content: '';
                position: absolute;
                z-index: 40;
                width: 1px;
                top: 0;
                bottom: 0;
                left: 0;
                opacity: 0;
                background: transparentize(#61ca61, 0.3);
                box-shadow: 0 0 25px 5px transparentize(#61ca61, 0.3);
                @include animation(readyAnim 5s infinite);
            }
        }

        &.ready {
            &:after {
                width: 100%;
            }

            span {
                color: #FFF;
            }
        }

        > span {
            display: block;
            position: relative;
            z-index: 100;
            text-transform: uppercase;
            font-size: 20px;
            color: $text-color;
            @include skew(10deg, 0);
            @include transition(all 0.2s linear);
            -webkit-backface-visibility: hidden;
        }
    }

    .control {
        margin: 0;
        height: 40px;
        width: 40px;
        overflow: hidden;
        padding: 0;
        line-height: 36px;
        text-align: center;

        & + .control {
            margin-left: 10px;
        }

        &.active {
            font-size: 0;

            &:before {
                content: "?";
                font-size: $base-font-size;
            }
        }
    }

    .player-color {
        @include transition(none);
    }

    .player-name {

        height: 40px;
        padding: 5px 10px;
        margin: 0;
        border: 2px solid transparent;
        font-weight: bold;

        &:focus {
            border-color: $input-border-focus;
        }
    }

    .col-player { width: auto; }
    .col-color { width: 150px; }
    .col-keys { width: 120px; }
    .col-ready { width: 150px; }
    .col-remove {
        width: 32px;
        min-width: 32px;
        padding: 0;

        .icon-kick.kicked {
            color: $color-danger;
            opacity: 1;
        }
    }
    .col-icon {
        width: auto;
        padding: 0;

        .icon {
            padding-top: 7px;
        }

        .inactive {
            color: lighten($text-color, 25%);
        }
    }

    .col-show-hover > * {
        display: none;
    }

    .col-show-hover > .show-default {
        display: inherit;
    }

    tr:hover > .col-show-hover > *,
    .col-show-hover.active > * {
        display: inherit;
    }
    tr:hover > .col-show-hover > .show-default,
    .col-show-hover.active > .show-default {
        display: none;
    }

    .btn-remove {
        padding: 0;
        margin: 0;
        border: none;
        width: 100%;
        height: 100%;
    }

    #room-parameters {
        background-color: #FFF;
        width: 100%;
        padding: 20px 30px;
        margin-bottom: 20px;

        .row > div {
            padding-bottom: 0;
        }

        h2 {
            margin-top: 10px;
            font-size: 24px;
            font-weight: 400;
        }

        .disabled, [disabled] {
            cursor: not-allowed;
        }

        .max-score {
            text-align: center;

            #max-score {
                font-size: 80px;
                font-weight: bold;
                height: 100px;
                width: 200px;
                margin: 0 auto;
                padding: 0;
                line-height: 96px;
                vertical-align: middle;
                text-align: center;
                border-color: transparent;
                margin-bottom: 35px;
                @include transition(border-color 0.2s linear);

                &:focus {
                    border-color: $text-color;
                }
            }
        }

        .public-room {
            h2 {
                margin-bottom: 20px;
            }

            #open {
                margin-left: 5px;
            }

            .password-container {
                margin-top: 20px;

                label, input {
                    display: inline-block;
                    width: auto;
                }
                input {
                    width: 90px;
                    margin-left: 10px;
                    text-align: center;
                }
            }
        }

        .input-range {
            display: block;
            width: auto;
            max-width: 500px;
            position: relative;
            vertical-align: middle;
            padding: 12px 40px;
            margin: 10px;

            input {
                -webkit-appearance: none;
                -moz-apperance: none;
                width: 100%;
                height: 2px;
                background-color: #CCC;
                cursor: pointer;

                &::-webkit-slider-thumb {
                    -webkit-appearance:none;
                    -moz-apperance:none;
                    width: 12px;
                    height: 12px;
                    background: #BBB;
                    cursor: pointer;
                    @include border-radius(2px);
                    @include transform(rotate(45deg));
                    @include transition(background 0.15s linear);

                    &:hover {
                        background: #AAA;
                    }
                }

                &[disabled] {
                    cursor: not-allowed;
                }
            }

            .range-icon {
                width: 24px;
                height: 24px;
                position: absolute;
                top: 2px;
                @include transform(rotate(45deg));
                border: 2px solid #999;
                color: #999;
                @include border-radius(4px);

                i {
                    font-size: 14px;
                    line-height: 24px;
                    margin-left: 0px;
                    margin-top: -2px;
                    display: block;
                    @include transform(rotate(-45deg));
                }

                &.less-icon {
                    left: 0;
                }
                &.more-icon {
                    right: 0;
                }
            }
        }

        .btn-group {
            margin-top: 15px;
            float: right;

            .btn {
                border: 0;
                background: #f3f3f3;
                text-transform: uppercase;
                font-size: 12px;
                color: $text-color;
                padding-left: 5px;
                padding-right: 5px;
                margin: 0;

                &.active, &:hover {
                    background: #dadada;
                    color: $text-color;
                    @include box-shadow(none);
                }
            }
        }


        .bonus-selection {
            margin-bottom: 15px;

            .preset {
                cursor: pointer;
                display: inline-block;
                position: relative;
                text-align: center;
                border: 0;
                background: #f3f3f3;
                text-transform: uppercase;
                font-size: 12px;
                color: $text-color;
                font-size: 14px;
                padding: 5px 12px;
                margin: 0;

                &.active, &:hover {
                    background: #DDD;
                    color: $text-color;
                    @include box-shadow(none);
                }

                &.disabled {
                    cursor: not-allowed;

                    &:hover {
                        background: #f3f3f3;
                    }
                    &.active {
                        background: #DDD;
                    }
                }
            }

            .bonus {
                width: $bonus-size;
                height: $bonus-size;
                display: inline-block;
                background: url(../images/bonus.png) no-repeat transparent;
                background-size: $bonus-size*3 $bonus-size*4;
                position: relative;
                text-align: center;
                color: #FFF;
                cursor: pointer;
                margin: 0 4px;

                &.disabled {
                    cursor: not-allowed;
                }

                &.bonus-self-fast {
                    @include bonus-sprite(0, 0);
                }
                &.bonus-enemy-fast {
                    @include bonus-sprite(1, 0);
                }
                &.bonus-self-slow {
                    @include bonus-sprite(2, 0);
                }
                &.bonus-enemy-slow {
                    @include bonus-sprite(0, 1);
                }
                &.bonus-game-borderless {
                    @include bonus-sprite(1, 1);
                }
                &.bonus-self-master {
                    @include bonus-sprite(2, 1);
                }
                &.bonus-enemy-big {
                    @include bonus-sprite(0, 2);
                }
                &.bonus-all-color {
                    @include bonus-sprite(1, 2);
                }
                &.bonus-enemy-inverse {
                    @include bonus-sprite(2, 2);
                }
                &.bonus-self-small {
                    @include bonus-sprite(0, 3);
                }
                &.bonus-all-clear {
                    @include bonus-sprite(1, 3);
                }
                &.bonus-enemy-straight-angle {
                    @include bonus-sprite(2, 3);
                }

                i {
                    width: 16px;
                    height: 16px;
                    line-height: 16px;
                    font-size: 10px;
                    display: block;
                    background: blue;
                    position: absolute;
                    top: 3px;
                    left: 4px;
                    @include border-radius(16px);
                    @include opacity(0);
                    @include transition(all opacity 0.15s);
                }

                &.active {
                    i {
                        @include opacity(100);
                    }
                }

                &[class*="bonus-self"] {
                    i {
                        background: #1acd2f;
                    }
                }
                &[class*="bonus-enemy"] {
                    i {
                        background: #f5423e;
                    }
                }
                &[class*="bonus-all"] {
                    i {
                        background: #cccccc;
                    }
                }
            }
        }
    }
}
