@mixin alert-variant($background, $border, $text-color) {
  background-color: $background;
  border-color: $border;
  color: $text-color;
  a, a:visited { color: $text-color; }
  hr {
    border-top-color: darken($border, 5%);
  }
}
