<section id="about" class="container">
    <section>
        <h1>Team</h1>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <a href="https://twitter.com/tom32i" target="_blank"><img src="http://www.gravatar.com/avatar/20e88ca8f96ba64d6767fb7be675c792?s=120" alt="Thomas JARRAND" class="rounded"></a>
                <h3><a href="https://twitter.com/tom32i" target="_blank" class="animated">Thomas JARRAND</a></h3>
                <p>Co-founder / Developer <br/><a href="https://twitter.com/tom32i" target="_blank" class="strong animated">@tom32i</a></p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <a href="https://twitter.com/JeremyFagis" target="_blank"><img src="http://www.gravatar.com/avatar/7f70e04906c6be43177bfeafe903b649?s=120" alt="Jérémy FAGIS" class="rounded"></a>
                <h3><a href="https://twitter.com/JeremyFagis" target="_blank" class="animated">Jérémy FAGIS</a></h3>
                <p>Frontend Developer <br/><a href="https://twitter.com/JeremyFagis" target="_blank" class="strong animated">@JeremyFagis</a></p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <a href="https://twitter.com/lutangar" target="_blank"><img src="http://www.gravatar.com/avatar/0384071d85ca349ff9669f56239d568c?s=120" alt="Johan DUFOUR" class="rounded"></a>
                <h3><a href="https://twitter.com/lutangar" target="_blank" class="animated">Johan DUFOUR</a></h3>
                <p>Co-founder / Developer <br/><a href="https://twitter.com/lutangar" target="_blank" class="strong animated">@lutangar</a></p>
            </div>
        </div>
    </section>
    <section>
        <h1>Thanks</h1>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-4">
                <h3>Inspired By</h3>
                <p><a href="http://curvefever.com" target="_blank" class="animated">Curve Fever</a></p>
            </div>
            <div class="col-lg-4">
                <h3>Made at</h3>
                <p><a href="http://elao.com" target="_blank" class="animated">Elao</a> &bull; <a href="https://twitter.com/elao" target="_blank" class="animated">@elao</a></p>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <section class="pt15 pb15">
                    <h3>Special thanks to:</h3>
                    <p>
                        <strong>Emeric Kasbarian</strong> &bull; Developer / Balancing &bull; <a href="https://twitter.com/emerick42" target="_blank" class="animated">@emerick42</a><br/>
                        <strong>Jérémy James</strong> &bull; Balancing &bull; <a href="https://twitter.com/JamesJrmy" target="_blank" class="animated">@JamesJrmy</a>
                    </p>
                </section>
                <section class="pt15 pb15">
                    <h3>People from <a href="http://elao.com" target="_blank" class="animated">Elao</a> and <a href="http://www.zol.fr" target="_blank" class="animated">Zol</a></h3>
                    <p>Jeremy, Nicolas, Camille, Maxime, Benjamin, Florian, Guewen, Xavier</p>
                </section>
            </div>
        </div>
    </section>
    <section>
        <h1>TECHNOLOGY COLOPHON</h1>
        <div class="row">
            <div class="col-lg-12">
                <p>HTML5, CSS3, Javascript, Node JS</p>
                <p>AngularJS, Faye Websocket</p>
            </div>
        </div>
    </section>
</section>
