<div id="kill-log-feed" class="feed">
    <div ng-repeat="message in logs.items" class="one-message">
        <strong style="color: {{ message.getPlayerColor() }};">
            <span ng-if="message.getPlayerIcon()" class="message-icon {{ message.getPlayerIcon() }}"></span>
            <span ng-if="!message.getPlayerIcon()">{{ message.getPlayerName() }}:</span>
        </strong>
        <span class="message-content" ng-switch="message.deathType">
             <!-- Suicide -->
            <span ng-switch-when="suicide">
                <span style="color: {{ message.deadPlayer.color }}">{{ message.deadPlayer.name }}</span> committed suicide.
            </span>
             <!-- Kill -->
            <span ng-switch-when="kill">
                <span style="color: {{ message.deadPlayer.color }}">{{ message.deadPlayer.name }}</span>
                was killed by
                <span style="color: {{ message.killerPlayer.color }}">{{ message.killerPlayer.name }}</span>.
            </span>
             <!-- Crash -->
            <span ng-switch-when="crash">
                <span style="color: {{ message.deadPlayer.color }}">{{ message.deadPlayer.name }}</span>
                crashed on
                <span style="color: {{ message.killerPlayer.color }}">{{ message.killerPlayer.name }}</span>.
            </span>
             <!-- Wall crash -->
            <span ng-switch-when="wall">
                <span style="color: {{ message.deadPlayer.color }}">{{ message.deadPlayer.name }}</span> crashed on the wall.
            </span>
        </span>
    </div>
</div>
