<section>
    <section id="game-wrapper">
        <aside id="game-infos">
            <header><a href="/"><img src="images/logo.png" alt="Curvytron" id="logo" /> Curvytron</a></header>
            <div class="maxScore"><i class="icon-trophy"></i><span>{{ game.maxScore }}</span></div>
            <h3 title="{{ game.name }}">{{ game.name }}</h3>
            <ul id="game-players">
                <li ng-repeat="avatar in game.avatars.items | orderBy:sortorder" ng-class="{ dead: avatar.alive == false }">
                    <span class="line-color-preview" style="background-color: {{ avatar.player.color }};"></span>
                    <span class="round-points pull-right" ng-if="avatar.roundScore && (!avatar.alive || !game.inRound)">+{{ avatar.roundScore }}</span>
                    {{ avatar.name }}
                    <span class="score">{{ avatar.score }}</span>
                </li>
            </ul>
            <footer>
                <span id="fps" class="pull-right">0</span>
                <span id="ping" class="pull-right">0</span>
                <span id="sound" class="pull-right" ng-class="{ active: sound }" ng-click="toggleSound()"><i class="icon-sound"></i></span>
                <a href="http://www.elao.com" class="game-copy pull-left" target="_blank">Handmade by Elao with <i class="icon-love"></i></a>
            </footer>
            <div class="chat-wrapper">
                <div id="feed">
                    <div class="welcome">
                        <strong>Welcome !</strong>
                    </div>
                    <div ng-repeat="message in messages" class="one-message">
                        <strong style="color: {{ message.player.color ? message.player.color : '#75858c' }};">
                            {{ message.getPlayerName() }}:
                        </strong>
                        {{ message.content }}
                    </div>
                </div>
                <form ng-submit="submitTalk()" name="talk" class="action-line">
                    <button type="submit"><span><i class="icon-angle-right"></i></span></button>
                    <input type="text" name="message" ng-model="currentMessage.content" class="sent-message form-control" placeholder="Enter message..." maxlength="{{ messageMaxLength }}" />
                </form>
            </div>
        </aside>
        <div id="col-right">
            <section class="countdown" ng-hide="countFinish">
                <div class="count">{{ count }}</div>
            </section>
            <div class="countdown-anim" ng-hide="countFinish"></div>
            <section id="end">
                <section id="round-view">
                    <i class="icon-trophy"></i>
                    <p><span class="strong" style="color: {{ roundWinner.player.color }}">{{ roundWinner.name }}</span> won the round ! </p>
                </section>
                <section id="game-view">
                    <i class="icon-trophy"></i>
                    <p ng-repeat="avatar in game.avatars.items | orderBy:sortorder" ng-show="$first">
                        <span class="strong" style="color: {{ avatar.player.color }}">{{ avatar.name }}</span> won the game !
                    </p>
                    <div>
                        <button ng-click="backToRoom()" type="button" class="btn btn-link btn-back-to-room">
                            Back to the room
                        </button>
                    </div>
                    <table class="table table-hover recap">
                        <tbody>
                            <tr ng-repeat="avatar in game.avatars.items | orderBy:sortorder">
                                <td class="rank">{{ $index + 1 }}</td>
                                <td class="name"><span style="color: {{ avatar.player.color }}">{{ avatar.name }}</span></td>
                                <td class="points"><strong>{{ avatar.score }}</strong> points</td>
                            </tr>
                        </tbody>
                    </table>
                    <div>
                        <button ng-click="backToRoom()" type="button" class="btn btn-link btn-back-to-room">
                            Back to the room
                        </button>
                    </div>
                </section>
            </section>
            <canvas id="game" class="game"></canvas>
        </div>
    </section>
</section>
