<section>
    <section id="game-wrapper">
        <aside id="game-infos">
            <header><a href="/">Curvytron</a></header>
            <h3>{{ roomName }}</h3>
            <ul id="game-players">
                <li ng-repeat="avatar in avatars | orderBy:sortorder" ng-class="{ dead: avatar.alive == false }">
                    <span class="color-preview" style="background-color: {{ avatar.color }};"></span>
                    {{ avatar.name }}
                    <span class="score">{{ avatar.score }}</span>
                </li>
            </ul>
            <object width="295" height="90" id="radio"><param name="allowscriptaccess" value="always" /><param name="movie" value="http://static.radionomy.com/cdn/flash/BannerEmbed.swf?RadUID=46b6f68c-eaf7-4802-9bca-5d2536fd0e66&amp;titlesColor=dddddd&amp;color=2f2f2f&amp;autoPlay=yes&amp;lang=fr" /><param name="wmode" value="transparent" /><embed src="http://static.radionomy.com/cdn/flash/BannerEmbed.swf?RadUID=46b6f68c-eaf7-4802-9bca-5d2536fd0e66&amp;titlesColor=dddddd&amp;color=2f2f2f&amp;autoPlay=yes&amp;lang=fr" wmode="transparent" type="application/x-shockwave-flash" allowscriptaccess="always" width="295" height="90"></embed></object>
            <footer>
                <span id="fps" class="pull-right"></span>
                <a href="http://www.elao.com" class="game-copy" target="_blank">Handmade by Elao with <i class="icon-love"></i></a>
            </footer>
        </aside>
        <div id="col-right">
            <section class="countdown" ng-hide="countFinish">
                <div class="count">{{ count }}</div>
            </section>
            <div class="countdown-anim" ng-hide="countFinish"></div>
            <section id="end">
                <section id="round-view">
                    <i class="icon-trophy"></i>
                    <p><span class="strong" style="color: {{ roundWinner.color }}">{{ roundWinner.name }}</span> won the round ! </p>
                </section>
                <section id="game-view">
                    <i class="icon-trophy"></i>
                    <p ng-repeat="avatar in avatars | orderBy:sortorder" ng-show="$first">
                        <span class="strong" style="color: {{ avatar.color }}">{{ avatar.name }}</span> won the game !
                    </p>
                    <table class="table table-hover recap">
                        <tbody>
                            <tr ng-repeat="avatar in avatars | orderBy:sortorder">
                                <td class="rank">{{ $index + 1 }}</td>
                                <td class="name"><span style="color: {{ avatar.color }}">{{ avatar.name }}</span></td>
                                <td class="points"><strong>{{ avatar.score }}</strong> points</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </section>
            <canvas id="game" class="game"></canvas>
        </div>
    </section>
</section>
