body {
  background: $background-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $text-color;
  font-weight: $base-font-weight;
}

::selection {
  background: $text-color;
  color: #FFF;
}
::-moz-selection {
  background: $text-color;
  color: #FFF;
}

.container {
  width: 100%;
  max-width: $container-max-width;
  margin: 0 auto;
}

#browsehappy {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #FFF;
  z-index: 9999;

  #browsehappy-inner {
    margin: 40px auto;
    width: 500px;
    background: #ccc;
    color: #666;
    border: 2px solid #AAA;
    text-align: center;
    padding: 20px;
  }
}

header {
  color: $header-color;
  text-align: center;
  padding: 40px 20px;
  margin: 0 0 40px 0;
  position: relative;
  border-bottom: 10px solid #FFF;
  position: relative;
  @include gradient($header-background-from, $header-background-to);

  // &:after {
  //   position: absolute;
  //   left: 0;
  //   right: 0;
  //   top: 0;
  //   bottom: 0;
  //   z-index: 10;
  //   content: '';
  // }

  // &:after {
  //   @include gradient($header-background-to, $header-background-from);
  //   @include opacity(0);
  //   @include animation(headerGradient 10s infinite);
  // }

  a.logo, a.logo:visited {
    line-height: 50px;
    font-family: $base-font-family;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 30px;
    color: $header-color;
    z-index: 100;
    position: relative;

    &.animated {
      &:after {
        height: 3px;
        background: $header-color;
      }
    }
  }

  #logo {
    width: 150px;
    position: relative;
    z-index: 100;
  }

  .game-copy {
    display: none;
  }

  .profile-link {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: $base-font-size;
    line-height: $base-font-size;
    font-family: $base-font-family;
    vertical-align: top;
    padding: 8px;
    padding-right: 16px;
    background-color: $game-background;
    border: none;
    //border: 3px solid #ffffff;
    border-radius: 40px;

    &,&:visited {
      color: #ffffff;
    }

    .circle {
      width: $base-font-size;
      height: $base-font-size;
      border-radius: $base-font-size;
      display: inline-block;
      margin-right: 8px;
      background-color: #ffffff;
    }
  }
}


footer {
  background: $footer-background;
  color: $footer-color;
  padding: 30px 0;
  margin-top: 30px;

  a {
    cursor: pointer;

    &, &:visited {
      color: $footer-color;
    }

    &.animated {
      &:after {
        height: 1px;
        background: $footer-color;
      }
    }
  }
}

body.game-mode {
  header, footer {
    display: none;
  }
}
