body {
  background: $background-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $text-color;
}

.container {
  width: 100%;
  max-width: $container-max-width;
  margin: 0 auto;
}

#browsehappy {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #FFF;
  z-index: 9999;
  #browsehappy-inner {
    margin: 40px auto;
    width: 500px;
    background: #ccc;
    color: #666;
    border: 2px solid #AAA;
    text-align: center;
    padding: 20px;
  }
}

header {
  background: $header-background;
  color: $header-color;
  font-family: $base-font-family;
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
  font-size: 60px;
  line-height: 60px;
  padding: 80px 40px;
  margin: 0 0 30px 0;
  @include transition(all 0.2s ease);
  @include animation(headerRainbow 20s infinite);
  a, a:visited {
    color: $header-color;
    line-height: 100px;
    &.animated {
      &:after {
        height: 3px;
        background: $header-color;
      }
    }
  }
  .game-copy {
    display: none;
  }
}


footer {
  background: $footer-background;
  color: $footer-color;
  padding: 30px 0;
  margin-top: 30px;
  a {
    cursor: pointer;
    &, &:visited {
      color: $footer-color;
    }
    &.animated {
      &:after {
        height: 1px;
        background: $footer-color;
      }
    }
  }
}

body.game-mode {
  header, footer {
    display: none;
  }
}
