body {
  background: $background-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $text-color;
  font-weight: $base-font-weight;
}

::selection {
  background: $text-color;
  color: #FFF;
}
::-moz-selection {
  background: $text-color;
  color: #FFF;
}

.container {
  width: 100%;
  max-width: $container-max-width;
  margin: 0 auto;
}

#browsehappy {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #FFF;
  z-index: 9999;

  #browsehappy-inner {
    margin: 40px auto;
    width: 500px;
    background: #ccc;
    color: #666;
    border: 2px solid #AAA;
    text-align: center;
    padding: 20px;
  }
}

header {
  color: $header-color;
  text-align: center;
  padding: 20px 20px;
  margin: 0 0 40px 0;
  position: relative;
  border-bottom: 10px solid #FFF;
  position: relative;
  @include gradient($header-background-from, $header-background-to);

  .logo {
    z-index: 10;
    position: relative;

    &, &:visited {
      line-height: 46px;
      font-family: $base-font-family;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 26px;
      color: $header-color;
    }

    &.animated {
      &:after {
        height: 3px;
        background: $header-color;
      }
    }

    img {
      width: 130px;
      position: relative;
      z-index: 100;
    }

    .brand {
      display: block;
    }
  }

  .game-copy {
    display: none;
  }
}

footer {
  background: $footer-background;
  color: $footer-color;
  margin-top: 30px;
  padding: 30px 0;
  bottom: 0;
  width: 100%;

  a {
    cursor: pointer;

    &, &:visited {
      color: $footer-color;
    }

    &.animated {
      &:after {
        height: 1px;
        background: $footer-color;
      }
    }
  }
}

body.game-mode {
  header, footer, .profile-link, #profile {
    display: none;
  }
}
