<section ng-controller="LobbiesController">
    <div id="lobbies" class="container">
        <h1><a href="#" class="btn btn-lg btn-default pull-right">Create</a> {{ lobbies.length }} actives lobbies</h1>
        <table class="table table-striped table-hover mt30 v-align-middle">
            <tbody>
                <tr ng-repeat="lobby in lobbies">
                    <td><h3><a href="#/lobby/{{ lobby.name }}">{{ lobby.name }}</a></h3></td>
                    <td>
                        <h4>
                            <ng-pluralize count="lobby.players.length "
                                             when="{'0': 'No player',
                                                 'one': '1 player',
                                                 'other': '{} players'}">
                        </h4>
                        <ul class="no-bullet">
                            <li class="player-row" ng-repeat="player in lobby.players">
                                <img src="#" alt="" class="rounded" /> {{ player.name }}
                            </li>
                        </ul>
                    </td>
                    <td class="text-right ">
                        <a href="#/lobby/{{ lobby.name }}" class="btn btn-default">ENTER</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
